<b>Introduction
━━━━━━━━━━━━━━━━━━━━⦿
This bot collects your affiliate statistics and sends them to your Telegram account(ID).

Important
• <i>Each account may take (5–10) seconds to process.</i>
• <i>Avoid sending multiple requests in a row to prevent temporary locks.</i>
• <i>If you get ( ) blank/empty results, kindly fetch again this can happen if multiple people access the site at once.</i>

Adding Affiliate Accounts
━━━━━━━━━━━━━━━━━━━━⦿
1.1 Send the <code>/addaff</code> command
1.2 When asked, enter your exact <i>username</i>
1.3 Next, provide your <i>password</i>

Verification usually finishes in (7–12) seconds. If login fails, confirm your username and password by manually logging in through your browser.

Linked Accounts
━━━━━━━━━━━━━━━━━━━━⦿
2.1 Send <code>/accounts</code> to see all your connected affiliate accounts.

Fetching/Collecting Reports
━━━━━━━━━━━━━━━━━━━━⦿
3.1 Send <code>/fetch</code> to start generating a report, then select an account.
3.2 Reports include:
• <i>Account username</i>
• <i>NSU & FTD</i>
• <i>Turnover and Commission</i>
• <i>Deposit and withdrawal</i>
• <i>Profit and loss</i>

Usage Tips
━━━━━━━━━━━━━━━━━━━━⦿
4.1 Click/Touch any amount to copy it. (practical! if you work with google/xlsx sheets)
4.2 “fetch all” takes (10–20) seconds and may fail if you have more than <i>3–4 accounts</i>.(sends reports one by one, so please wait)
4.3 Last updated and all the dates are in MYT (exactly as affiliate timezone)

<i>Kindly wait for each request to finish before sending another.</i>
</b>